@import 'map';

@each $color-name, $color-variants in $material-colors {
  @each $color-variant, $hex-value in $color-variants {
      .#{$color-name}-#{$color-variant} {
        color: #{$hex-value}
      }
      .hover-#{$color-name}-#{$color-variant}:hover {
        color: #{$hex-value}
      }
      .hover-#{$color-name}-#{$color-variant}:focus {
        color: #{$hex-value}
      }

      .bg-#{$color-name}-#{$color-variant} {
        background-color: #{$hex-value}
      }
      .hover-bg-#{$color-name}-#{$color-variant}:hover {
        background-color: #{$hex-value}
      }
      .hover-bg-#{$color-name}-#{$color-variant}:focus {
        background-color: #{$hex-value}
      }
  }
}
